/*

@import '--root.css';

.excerpt>h1,
.excerpt>h2,
.excerpt>h3,
.excerpt>h4,
.excerpt>h5,
.excerpt>h6,
.excerpt>p
{
    margin: 0 0 .5rem 0;
}

.excerpt>h1,
.excerpt>h2,
.excerpt>h3,
.excerpt>h4,
.excerpt>h5,
.excerpt>h6,
.excerpt>p,
.excerpt>b
{
    color: var(--dark-color-purple);
}

.excerpt>div>h1,
.excerpt>div>h2,
.excerpt>div>h3,
.excerpt>div>h4,
.excerpt>div>h5,
.excerpt>div>h6,
.excerpt>div>p,
.excerpt>div>p>b,

.excerpt>ol>h1,
.excerpt>ol>h2,
.excerpt>ol>h3,
.excerpt>ol>h4,
.excerpt>ol>h5,
.excerpt>ol>h6,
.excerpt>ol>p,
.excerpt>ol>p>b,

.excerpt>ul>h1,
.excerpt>ul>h2,
.excerpt>ul>h3,
.excerpt>ul>h4,
.excerpt>ul>h5,
.excerpt>ul>h6,
.excerpt>ul>p,
.excerpt>ul>p>b,

.excerpt>ol>li,
.excerpt>ol>li>p,
.excerpt>ol>li>p>b,

.excerpt>ul>li,
.excerpt>ul>li>p,
.excerpt>ul>li>p>b
{
    color: var(--dark-color-purple);
    margin: 0;
    padding: 0;
}

.excerpt>div, .excerpt>ol, .excerpt>ul
{
    background-color: var(--color-gray);
    border-radius: var(--wrapper-border-radius);
    box-shadow: var(--box-shadow);
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.excerpt iframe,
.excerpt>div>iframe
{
    height: 360px;
    width: 100%;
}

.excerpt>iframe
{
    margin: 0 0 var(--margin) 0;
}

.excerpt>ol>li,
.excerpt>ul>li
{
    padding: 0 0 0 2rem;
}

.excerpt>ol>li::before,
.excerpt>ul>li::before
{
    content: '';
}

@media (max-width: 575.98px) { }

@media (max-width: 767.98px) { }

@media (max-width: 991.98px) { }

@media (max-width: 1199.98px) { }

*/