@import '--root.css';

#container>header
{
  margin: 0 0 var(--margin) 0;
}

#container>header>#brand
{
  align-items: center;
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  padding: calc(var(--margin) * 3);
}

#container>header>#brand>picture
{
  margin: 0 var(--margin) 0 0;
  width: calc(var(--margin) * 6);
}

#container>header>#brand>picture>a>img { width: 100%; }

#container>header>#bloginfo
{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
#container>header>#bloginfo:hover>p>a, #container>header>#bloginfo:hover>h1>a { color: var(--dark-color-pink); }
#container>header>#reservation { background-color: white; }
#container>header>#reservation>form
{
  display: flex;
  justify-content: center;
  padding: var(--margin);
  width: 100%;
}

main>article>header { margin: 2rem 0 0 0; }

@media (max-width: 575.98px) { }
@media (max-width: 767.98px) { }
@media (max-width: 991.98px) {
  #container>header>#brand { flex-direction: column; }
  #container>header>#brand>picture { margin: 0 0 var(--margin) 0; }
  #container>header>#bloginfo>h1, #container>header>#bloginfo>p { align-items: center; text-align: center; }
}
@media (max-width: 1199.98px) { }